<!DOCTYPE html>
<html>
<head>
  <title>SupportEngine</title>
  <%= stylesheet_link_tag    "support_engine/application", :media => "all" %>
  <%= javascript_include_tag "support_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="se">
  <div class="se-wrapper">
    <nav class="se-navigation">
      <ul>
        <li><%= link_to t("support_engine.menu.tickets"), SupportEngine::Engine.routes.url_helpers.tickets_path %></li>
        <li><%= link_to t("support_engine.menu.type"), SupportEngine::Engine.routes.url_helpers.support_types_path %></li>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
